langchain
langchain-community
sentence-transformers
faiss-cpu
pymupdf
pydantic
streamlit
networkx
python-dotenv
openai
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
tiktoken
requests
beautifulsoup4
lxml
chromadb
transformers
openai